---
layout: default
---

<article class="post">
  <meta  id="meta_image" name="twitter:image" content="">
  <meta id="meta_image" property="og:image" content="">


  <img class="image_size" id="post_image" src="" />
  <p class="hidden" id="hidden">{{ page.image }}</p>

  <h1>{{ page.title }}</h1>
  <h3>{{page.subtitle }}</h3>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
  
  <script>
    let img_p = document.getElementById('hidden').innerHTML;
    let img = document.getElementById('post_image'); 
    document
      .getElementsByTagName('meta')
      .namedItem('twitter:image')
      .setAttribute('content',img_p)
    img.src = img_p
  </script>
</article>


